import React, { useLayoutEffect, useRef } from "react";
import { gsap } from "gsap";

interface I{{pascalCase name}} {
}

export const {{pascalCase name}} = ({}: I{{pascalCase name}}) => {
    const mainRef = useRef(null);

    let mainTl = null;
    useLayoutEffect(() => {
        const ctx = gsap.context(() => {
            mainTl = gsap.timeline({});
        }, mainRef);

        return () => ctx.revert();
    }, []);

    return <div ref={mainRef}></div>;
};

