@import url("//hello.myfonts.net/count/3d3b71");
@font-face {
  font-family: 'misto';
  src: url("../fonts/misto-webfont.woff2") format("woff2"), url("../fonts/misto-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'cotham_sansregular';
  src: url("../fonts/cothamsans-webfont.woff2") format("woff2"), url("../fonts/cothamsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "LostaMasta-Light";
  src: url("../fonts/LostaMastaLight/font.woff2") format("woff2"), url("webFonts/LostaMastaLight/font.woff") format("woff");
  font-display: swap; }
@font-face {
  font-family: "LostaMasta-Thin";
  src: url("../fonts/LostaMastaThin/font.woff2") format("woff2"), url("webFonts/LostaMastaThin/font.woff") format("woff");
  font-display: swap; }
:root {
  --black: #191919;
  --blue: #0b00ae;
  --bubblegum: #ffb1cc;
  --hot_pink: #ff45c8;
  --dark_pink: #e5007a;
  --white: #fff;
  --yellow: #fff200;
  --night: #120236;
  --serif_thin: "LostaMasta-Thin", serif;
  --serif_light: "LostaMasta-Light", serif;
  --sans_headings: "misto", sans-serif;
  --sans_body: 'cotham_sansregular', arial, sans-serif;
  --base_font_size: 2.1rem;
  --base_line_height: 1.4285;
  --small_font_size: 1.5rem;
  --large_font_size: 20rem;
  --large_line_height: 1.176;
  --animation_timing: cubic-bezier(0.35, 0.46, 0.45, 0.94); }

@media screen and (min-width: 1024px) {
  :root {
    --base_font_size: 3rem;
    --base_line_height: 1.5;
    --small_font_size: 2.1rem;
    --large_font_size: 8.9rem;
    --large_line_height: 1.0112; } }
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-family: var(--serif_light);
  font-weight: normal;
  font-size: clamp(2.5rem, 10vw, 20rem);
  line-height: 1;
  text-align: center;
  padding-bottom: calc(1.5*var(--base_font_size)*var(--base_line_height)); }

p {
  padding-bottom: calc(var(--base_line_height)*var(--base_font_size));
  max-width: 36ch;
  margin: 0;
  font-size: var(--base_font_size);
  line-height: var(--base_line_height);
  font-family: var(--sans_body);
  font-weight: 75;
  font-variation-settings: 'opsz' 50; }

a, a:hover, a:visited {
  color: var(--white); }

a:hover {
  transform: skew(-5deg); }

p.small {
  font-size: 1.8rem;
  line-height: 3rem; }

figcaption {
  display: inline-block;
  font-size: .5em;
  line-height: 1;
  margin-top: .25em; }

.large {
  font-size: clamp(2.5rem, 7.5vw, 15rem);
  line-height: 1;
  font-family: var(--serif_thin);
  font-weight: normal;
  word-break: break-word; }

.xxxl {
  font-size: clamp(7rem, 49vw, 70rem);
  line-height: 1;
  font-weight: normal;
  font-family: var(--sans_headings); }

.xxl, .loading-page .counter h1 {
  font-size: clamp(5rem, 29vw, 26rem);
  line-height: 1;
  font-family: var(--sans_headings);
  font-weight: normal; }
  @supports (font-variant-ligatures: discretionary-ligatures) {
    .xxl, .loading-page .counter h1 {
      font-variant-ligatures: discretionary-ligatures; } }

.xl, .quote, .marquee__item {
  font-size: clamp(2.5rem, 10vw, 20rem);
  line-height: 1;
  font-family: var(--serif_thin);
  font-weight: normal; }

.kern_fix {
  display: inline-block; }
  .kern_fix.neg {
    margin-left: -0.15em; }

.uc {
  display: inline-block;
  font-weight: normal; }

.serif {
  font-family: var(--serif_light); }

.text_center {
  text-align: center; }

.sans {
  font-family: var(--sans_headings); }

h3 {
  font-size: clamp(2.5rem, 7vw, 10rem);
  line-height: .9;
  padding-bottom: 4rem;
  font-weight: 300;
  font-family: var(--serif); }

h4 {
  font-size: clamp(2.5rem, 5vw, 5rem);
  line-height: 1;
  font-weight: 300;
  font-family: var(--serif); }

h6 {
  font-size: var(--base_font_size);
  line-height: var(--base_line_height);
  font-family: var(--sans_headings); }

.small, .each_contributor span, small {
  font-size: .5em; }

strong, .strong {
  font-weight: bold; }

em {
  display: inline-block;
  transform: skew(-3deg); }

.ff_s05 {
  font-feature-settings: 'ss05' on; }

.ff_s02 {
  font-feature-settings: 'ss02' on; }

@media screen and (max-width: 1024px) {
  p {
    max-width: 100%; } }
@media screen and (max-width: 768px) {
  p {
    max-width: auto !important; }

  h1 {
    font-size: clamp(2.5rem, 20vw, 18rem); }

  .xxxl {
    font-size: clamp(7rem, 50vw, 70rem); }

  .xxl, .loading-page .counter h1 {
    word-break: break-all;
    line-height: .85; }

  .xl, .quote, .marquee__item {
    font-size: clamp(2.5rem, 17vw, 20rem);
    line-height: 1; }

  p {
    max-width: inherit; }

  .small, .each_contributor span, small {
    font-size: .75em; }

  .large {
    font-size: clamp(5rem, 10vw, 15rem);
    line-height: 1;
    font-family: var(--serif_thin);
    font-weight: normal; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: var(--base_font_size);
  line-height: var(--base_line_height);
  font-family: var(--sans_body);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  min-height: 100vh;
  opacity: 0; }

.loaded body {
  opacity: 1; }

.about {
  background: -webkit-linear-gradient(#fbd2e2 0%, #d5ecf1 50%, #693BA8 100%); }
  .about .text {
    padding-top: 5vh; }
    .about .text p {
      margin-left: auto;
      margin-right: auto; }
    .about .text .xl, .about .text .quote, .about .text .marquee__item {
      padding: calc(15vh - var(--base_line_height)*var(--base_font_size)) 0 15vh;
      word-wrap: break-word;
      hyphens: auto; }
  .about .section_header {
    margin-bottom: 5vh; }
    .about .section_header .img_inline {
      margin-left: 2vw;
      height: 33.5vw;
      width: 40vw;
      overflow: hidden;
      margin-bottom: 1.5vw; }
      .about .section_header .img_inline img, .about .section_header .img_inline source {
        object-fit: cover;
        display: block;
        transform: translate3d(0, 105%, 0) rotateZ(0deg) skewX(0deg);
        transition: transform 1s linear;
        transition-delay: calc(90ms * var(--word-index));
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform-origin: left bottom;
        will-change: transform; }
    .about .section_header .first_line {
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
  .about .animate-text .img_inline img, .about .animate-text .img_inline source {
    transform: translate3d(0, 0%, 0); }
  .about .main .row:nth-of-type(3) {
    padding-left: 20vw; }

.page_center {
  margin-left: auto;
  margin-right: auto;
  padding: 15vh 5vh; }

.contributors {
  padding-top: calc(var(--base_line_height)*var(--base_font_size)*2);
  text-align: center; }

.each_contributor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--base_line_height)*var(--base_font_size)*1) 0 0; }
  .each_contributor p {
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto; }
  .each_contributor span {
    font-weight: bold;
    display: block;
    transform: skew(-11deg); }

img {
  display: block;
  max-width: 100%; }

.blog {
  background: radial-gradient(circle, rgba(252, 197, 124, 0.5) 0, rgba(252, 197, 124, 0) 50%); }

.block {
  display: block; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.with_psa .psa {
  display: none; }

@media screen and (max-width: 768px) {
  .with_psa {
    padding-top: 7.5rem;
    display: block; }
    .with_psa .psa {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 7.5rem;
      background: var(--black);
      color: var(--white);
      display: block;
      font-size: 2rem;
      padding: .5em;
      z-index: 200; }
    .with_psa .logo {
      top: 7.5rem; }

  .about .section_header .row:nth-of-type(2) {
    flex-direction: row-reverse; }
  .about .section_header .img_inline {
    margin-left: 2.2vw;
    margin-right: 0;
    height: 60vw;
    width: 50vw;
    position: absolute;
    right: 0;
    mix-blend-mode: multiply; } }
nav a {
  font-size: var(--small_font_size);
  position: fixed;
  padding: 2vmax 5vh;
  z-index: 100;
  color: #fff;
  text-decoration: none;
  font-weight: 75;
  mix-blend-mode: difference; }
nav .home {
  top: 0;
  left: 0; }
nav .index {
  top: 0;
  right: 0; }
nav .about_us {
  bottom: 0;
  left: 0; }
nav .submit {
  bottom: 0;
  right: 0; }
nav .logo {
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: pink;
  background: url("../img/dr1.svg") no-repeat center center;
  text-indent: -9999em;
  overflow: hidden;
  width: 35.625rem;
  height: 9rem;
  background-size: auto calc(1*var(--base_font_size)*var(--base_line_height)); }
nav .current {
  text-decoration: line-through; }

@media screen and (max-width: 768px) {
  nav a {
    padding: 2vmax 3vh; }
  nav .logo {
    padding-top: 0;
    height: 5.5rem; } }
.loading-page {
  background: #143975;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.loading-page .counter h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.loading-page h2 {
  position: fixed;
  top: 70%;
  left: 40%;
  color: white;
  font-size: 50px; }

/*page*/
.main_home {
  background: var(--night);
  color: #fff; }
  .main_home a:hover {
    cursor: url("../img/katli/flam1.png"), auto; }
  .main_home .page_center {
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 10; }

section {
  min-height: 100vh;
  display: flex;
  padding: 25vh 5vh;
  position: relative;
  flex-direction: column; }

.text_wrapper {
  display: block; }

.hero {
  justify-content: space-between; }
  .hero .word {
    mix-blend-mode: luminosity; }
  .hero h1, .hero .small, .hero .each_contributor span, .each_contributor .hero span {
    overflow: hidden; }
  .hero img, .hero source {
    display: block;
    margin: 0 auto; }

.palm_left, .palm_right {
  position: absolute;
  top: -10vh;
  width: 40vw;
  z-index: 15;
  max-height: 56.25vh; }

.palm_left {
  left: calc(15vw); }

.palm_right {
  right: calc(8vw); }

.scene {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 12vh;
  bottom: -5vh;
  z-index: -1; }
  .scene .cloud_1 {
    position: absolute;
    left: 7vw;
    top: 10vh;
    width: 20vw;
    -webkit-animation: animateCloud 9s ease-in-out forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation: animateCloud 9s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 16; }
  .scene .cloud_2 {
    position: absolute;
    right: 10vw;
    top: 12vw;
    width: 15vw;
    -webkit-animation: animateCloud 6s ease-in-out forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation: animateCloud 6s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 16; }
    .scene .cloud_2 img {
      transform: rotateY(-180deg); }

.water {
  position: absolute;
  bottom: -3vh;
  left: 50%;
  width: 100%;
  max-width: 136rem;
  transform: translateX(-50%); }

.d0_how {
  justify-content: center;
  padding-bottom: 0;
  padding-top: 15vh; }

.ing_0 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 62rem;
  min-height: 70vh;
  max-width: 80rem; }

@keyframes cashew-fall {
  0% {
    margin-bottom: 0; }
  100% {
    margin-bottom: -100vh; } }
.c_1, .c_2, .c_3, .c_4 {
  position: absolute;
  z-index: 11;
  backface-visibility: hidden; }

.c_1 {
  left: 15%;
  bottom: calc(100% - 20vh);
  width: 20vh;
  height: 20vh;
  transform: rotateX(5deg) rotateY(10deg) rotateZ(-135deg) scale3d(0.75, 0.75, 0.75);
  transform-origin: center center;
  filter: blur(5px);
  z-index: 11; }

.c_2 {
  right: calc(60% - 27.5vh);
  width: 45vh;
  height: 45vh;
  transform: rotateX(0) rotateY(0) rotateZ(-4deg) scale3d(1, 1, 1);
  transform-origin: center center;
  z-index: 12;
  animation: cashew-fall 10s linear forwards;
  animation-iteration-count: 1;
  will-change: transform; }

.c_3 {
  left: calc(5% - 12.5vh);
  bottom: 25%;
  width: 25vh;
  height: 25vh;
  transform: translate3d(0%, 0, 0) rotateX(0) rotateY(0) rotateZ(-75deg) scale3d(0.75, 0.75, 0.75);
  transform-origin: right center;
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px);
  z-index: 12; }

.c_4 {
  right: calc(50% - 12.5vh);
  bottom: calc(20% + 10vh);
  z-index: 13;
  width: 20vh;
  height: 20vh;
  transform: rotateX(0) rotateY(0) rotateZ(130deg);
  transform-origin: right center; }

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg); }
  100% {
    -webkit-filter: hue-rotate(-360deg); } }
@keyframes hue {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(-360deg); } }
.glass_container {
  position: relative; }

.glass {
  position: relative;
  padding-top: 0vh;
  padding-bottom: 10vh; }
  .glass img {
    display: block;
    margin: 0 auto; }

.glass_top {
  width: 100%;
  height: 20rem;
  background: url("../img/katli/glass-top.webp") no-repeat center bottom;
  background: url("../img/katli/glass-top.png") no-repeat center bottom;
  margin: 0vh auto 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
  backface-visibility: hidden; }

.glass_bottom {
  backface-visibility: hidden;
  width: 100%;
  height: 97rem;
  background: url("../img/katli/glass-bottom.webp") no-repeat center top;
  background: url("../img/katli/glass-bottom.png") no-repeat center top;
  margin: -8.7rem auto 0vh;
  z-index: 15;
  position: relative; }

@keyframes splash {
  0% {
    transform: scale3d(1, 0, 1); }
  /*
  	65% {
  		transform: scale3d(1, 1.2, 1);
  	}
  	80% {
  		transform: scale3d(1, 1.2, 1);
  	}
  */
  100% {
    transform: scale3d(1, 1, 1); } }
/*
.milk-static {
	position: absolute;
	top: 24rem;
	left: 0;
	right: 0;
	height: 6.4rem;
}

.top-milk {
	background: url("../img/katli/milk-static-top.png") no-repeat center top;
	background-size: 70rem 100%;
	height: 3.6rem;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 11;
}

.bottom-milk {
	background: url("../img/katli/milk-static-bottom.png") no-repeat center top;
	background-size: 70rem auto;
	height: 4.4rem;
	top: 3.6rem;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 13;
}
*/
.splash {
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  height: 36rem; }

.splash_it {
  -webkit-animation: splash 1.5s ease-in forwards;
  animation: splash 1.5s  ease-in forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-iteration-count: 1;
  animation-direction: normal; }

.back-splash {
  background: url("../img/katli/back-splash.webp") no-repeat center top;
  background: url("../img/katli/back-splash.png") no-repeat center top;
  background-size: 80rem auto;
  height: 36rem;
  transform: scale3d(1, 0, 1);
  transform-origin: center bottom;
  position: absolute;
  top: -9.5rem;
  left: 0;
  right: 0;
  z-index: 11; }

.front-splash {
  background: url("../img/katli/front-splash.webp") no-repeat center top;
  background: url("../img/katli/front-splash.png") no-repeat center top;
  background-size: 80rem auto;
  height: 34rem;
  transform: scale3d(1, 0, 1);
  transform-origin: center bottom;
  position: absolute;
  left: 0;
  bottom: 10rem;
  right: 0;
  z-index: 13; }

.magic_trick_main_container {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2; }

.magic_trick {
  min-height: 100vh;
  /*
  	height: 100vh;*/
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .magic_trick h1 {
    color: #000;
    background: linear-gradient(150deg, #0f44a7 100%, #d95a5a 200%, #4ca754 300%);
    background-image: linear-gradient(150deg, #0f44a7 100%, #d95a5a 200%, #4ca754 300%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear; }

.d0_intro {
  color: var(--black);
  justify-content: center;
  padding-top: 25vh;
  position: relative; }

.d0_intro_text {
  position: relative;
  z-index: 15; }
  .d0_intro_text .first_line {
    padding-left: 8.3333333vw;
    position: relative; }
  .d0_intro_text .third_line {
    padding-left: 24.3333333vw; }

.blobs_1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in; }
  .blobs_1 > div {
    position: absolute; }
  .blobs_1 img {
    width: 100%;
    height: 100%; }
  .blobs_1 .blob_1 {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 12; }
  .blobs_1 .blob_2 {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 10; }

.animate-text .blobs_1 {
  opacity: .75; }
.animate-text .blob_1 {
  -webkit-animation: sizechange11 15s var(--animation_timing) forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation: sizechange11 10s var(--animation_timing) forwards;
  animation-iteration-count: infinite;
  animation-direction: normal; }
.animate-text .blob_2 {
  -webkit-animation: sizechange12 20s var(--animation_timing) forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation: sizechange12 15s var(--animation_timing) forwards;
  animation-iteration-count: infinite;
  animation-direction: normal; }

.d0_etymology {
  color: #301a14; }
  .d0_etymology [data-word="cashews"] {
    padding-left: 11vw;
    display: block; }
  .d0_etymology .text {
    padding-left: 20vw; }
  .d0_etymology .xl, .d0_etymology .quote, .d0_etymology .marquee__item {
    margin-top: .5rem; }

.isometric_grid {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 1vh; }

.column_one, .column_two, .column_three, .column_four, .column_five, .column_six {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d; }

.column_one {
  grid-column: 4 / 8;
  grid-row: 1 / 2; }

.column_two {
  grid-column: 2 / 6;
  grid-row: 2 / 3; }

.column_three {
  grid-column: 7 / 11;
  grid-row: 2 / 3; }

.column_four {
  grid-column: 5 / 9;
  grid-row: 3 / 4; }

.column_five {
  grid-column: 3 / 7;
  grid-row: 4 / -1; }

.column_six {
  grid-column: 8 / 12;
  grid-row: 4 / -1; }

.isometric_grid,
.column,
.ItemCard,
.ItemCard__dest,
.ItemCard__thumb {
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d; }

.ItemCard {
  overflow: hidden; }

.ItemCard__thumb img, .ItemCard__thumb source {
  display: block;
  margin: 0 auto; }

.column:hover .ItemCard__thumb .shadow {
  opacity: .6;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1); }

@-webkit-keyframes sizechange11 {
  0% {
    transform: scale(0.25, 0.25) translate3d(0, 0, 0);
    transform-origin: center;
    mix-blend-mode: luminosity; }
  50% {
    transform: scale(1, 1) translate3d(5%, 1%, 0);
    mix-blend-mode: luminosity; }
  75% {
    transform: scale(0.65, 0.35) translate3d(-5%, -3%, 0);
    mix-blend-mode: luminosity; }
  100% {
    transform: scale(0.25, 0.25) translate3d(0%, 0%, 0);
    mix-blend-mode: luminosity; } }
@keyframes sizechange11 {
  0% {
    transform: scale(0.25, 0.25) translate3d(0, 0, 0);
    transform-origin: center;
    mix-blend-mode: luminosity; }
  50% {
    transform: scale(1, 1) translate3d(5%, 1%, 0);
    mix-blend-mode: luminosity; }
  75% {
    transform: scale(0.65, 0.35) translate3d(-5%, -3%, 0);
    mix-blend-mode: luminosity; }
  100% {
    transform: scale(0.25, 0.25) translate3d(0%, 0%, 0);
    mix-blend-mode: luminosity; } }
@-webkit-keyframes sizechange12 {
  0% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    transform-origin: center;
    mix-blend-mode: inherit; }
  50% {
    transform: scale(0.25, 0.15) translate3d(5%, 1%, 0);
    mix-blend-mode: luminosity; }
  75% {
    transform: scale(0.35, 0.65) translate3d(-5%, 7%, 0);
    mix-blend-mode: luminosity; }
  100% {
    transform: scale(1, 1) translate3d(0%, 0%, 0);
    mix-blend-mode: overlay; } }
@keyframes sizechange12 {
  0% {
    transform: scale(0.3, 0.3) translate3d(0, 0, 0);
    transform-origin: center;
    mix-blend-mode: inherit; }
  50% {
    transform: scale(0.25, 0.15) translate3d(5%, 1%, 0);
    mix-blend-mode: luminosity; }
  75% {
    transform: scale(1, 1) translate3d(-5%, 7%, 0);
    mix-blend-mode: luminosity; }
  100% {
    transform: scale(0.3, 0.3) translate3d(0%, 0%, 0);
    mix-blend-mode: overlay; } }
.d0_history {
  padding-left: 0vh;
  padding-right: 0vh;
  color: var(--black);
  position: relative; }
  .d0_history .xl .text_wrapper, .d0_history .quote .text_wrapper, .d0_history .marquee__item .text_wrapper, .d0_history .xxxl .text_wrapper {
    display: flex;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    transition: inherit !important;
    transition-delay: inherit !important; }
  .d0_history .char {
    text-align: center;
    width: 1em;
    height: 1em;
    transition: transform 1.2s linear;
    transform: translate3d(0, 125%, 0) rotateZ(5deg) skewX(0deg);
    transition-delay: calc(60ms * var(--char-index)); }
  .d0_history article {
    padding-left: 5vh;
    padding-right: 5vh; }

.history_1 .xl, .history_1 .quote, .history_1 .marquee__item {
  width: 30vw; }
.history_1 .text {
  position: relative;
  margin-top: 5vh; }
.history_1 figure {
  position: relative;
  z-index: 15;
  bottom: 25vh;
  float: right;
  margin-left: 5vw;
  width: calc(100vw - 10vh - 48.5vw); }
  .history_1 figure img, .history_1 figure source {
    width: 100%;
    opacity: 1;
    transition: all 1s linear;
    transition-delay: calc(120ms * 12);
    clip-path: url("../img/katli/squircle.svg");
    backface-visibility: hidden;
    -webkit-mask-image: url("../img/katli/squircle.svg");
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -moz-mask-image: url("../img/katli/squircle.svg");
    -moz-mask-position: center;
    -moz-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-image: url("../img/katli/squircle.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    /*
    			shape-outside: url("../img/katli/squircle.svg");;
    			shape-margin: 5vw;
    */ }

.animate-text .history_1 picture img, .animate-text .history_1 picture source {
  opacity: 1; }

@keyframes animateCloud {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(-8%, 0%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
.cloud_float {
  height: 45vh;
  width: 100%;
  position: relative; }
  .cloud_float .cloud1 {
    position: absolute;
    right: calc(50% - 20vw);
    top: 0;
    background: url("../img/katli/cloud.webp") no-repeat top right;
    background: url("../img/katli/cloud.png") no-repeat top right;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 20vw;
    height: 20vw;
    background-size: 100% auto;
    -webkit-animation: animateCloud 6s ease-in-out forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation: animateCloud 6s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-direction: normal; }
  .cloud_float .cloud2 {
    position: absolute;
    left: 20%;
    top: 0;
    background: url("../img/katli/cloud.webp") no-repeat top right;
    background: url("../img/katli/cloud.png") no-repeat top right;
    backface-visibility: hidden;
    width: 10vw;
    height: 10vw;
    background-size: 100% auto;
    -webkit-animation: animateCloud 2s ease-in-out forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation: animateCloud 2s ease-in-out forwards;
    animation-iteration-count: infinite;
    animation-direction: normal; }

.history_2 {
  padding-top: 15vh;
  background-size: 40rem 40rem;
  position: relative;
  padding-bottom: 25vh; }
  .history_2 p {
    margin-left: 48.5vw; }
  .history_2 .char {
    text-align: center;
    width: 1em;
    height: 1em; }

.history_3 {
  padding-top: 15vh;
  padding-bottom: 25vh; }
  .history_3 figure {
    width: calc(100vw - 10vh - 48.5vw);
    float: left;
    margin-right: 2.5vw; }
  .history_3 img, .history_3 source {
    clip-path: url("../img/katli/union.svg");
    backface-visibility: hidden;
    -webkit-mask-image: url("../img/katli/union.svg");
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -moz-mask-image: url("../img/katli/union.svg");
    -moz-mask-position: center;
    -moz-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-image: url("../img/katli/union.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    shape-outside: url("../img/katli/union.svg");
    shape-margin: 5vw; }

.history_4 {
  padding-top: 25vh;
  color: var(--white); }
  .history_4 .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .history_4 .text > div {
      margin-right: 5vw; }
  .history_4 p {
    width: calc(100vw - 10vh- 5vw - 48.5vw); }
  .history_4 .xl, .history_4 .quote, .history_4 .marquee__item {
    position: relative;
    width: 42.5vw; }
  .history_4 .bar {
    position: absolute;
    width: 10vw;
    height: .2rem;
    background: var(--white);
    left: -10vw;
    top: 14.5vh; }

.d0_tradition {
  background: url("../img/katli/palm-left.webp") left 10vw bottom 0vh no-repeat;
  background: url("../img/katli/palm-left.png") left 10vw bottom 0vh no-repeat;
  background-size: auto 62.5vh; }
  .d0_tradition .xl, .d0_tradition .quote, .d0_tradition .marquee__item {
    font-weight: normal;
    width: 50vw;
    margin-bottom: 5vh; }
    .d0_tradition .xl .word, .d0_tradition .quote .word, .d0_tradition .marquee__item .word {
      background: url("../img/katli/warq.jpeg") no-repeat;
      background-size: 100% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent; }
  .d0_tradition .text {
    padding-left: 48.5vw; }

.large_image {
  height: 150vh;
  background: url("../img/katli/balloon-comps.webp") center bottom no-repeat;
  background: url("../img/katli/balloon-comps.png") center bottom no-repeat;
  background-size: 50vw auto;
  position: relative; }
  .large_image h1 {
    position: relative;
    z-index: 16;
    mix-blend-mode: luminosity;
    opacity: 0.9; }

/*

@keyframes blending {
	0% {
		mix-blend-mode: initial;
	}
	25% {
		mix-blend-mode: overlay;
	}
	50% {
		mix-blend-mode: soft-light;
	}
	75% {
		mix-blend-mode: difference;
	}
	100% {
		mix-blend-mode: luminosity;
	}
}
*/
.cas_1, .cas_2, .bub_l, .bub_r, .kat_l, .kat_m {
  position: absolute; }

.cas_2 {
  width: 8vw;
  height: 8vw;
  right: calc(25vw + 17.5vw - 4vw);
  bottom: calc(95vh);
  -webkit-animation: float 5s ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation: float 5s ease-in-out forwards;
  animation-direction: normal;
  animation-iteration-count: infinite;
  z-index: 17; }

.cas_1 {
  width: 10vw;
  height: 10vw;
  left: calc(25vw);
  bottom: 52vh;
  -webkit-animation: float 10s linear forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation: float 10s linear forwards;
  animation-direction: normal;
  animation-iteration-count: infinite; }

.bub_l {
  width: 10.71428571vw;
  height: 10.71428571vw;
  left: 30vw;
  bottom: 100vh;
  -webkit-animation: float 10s linear forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  animation: float 10s linear forwards;
  animation-direction: normal;
  animation-iteration-count: infinite; }

.bub_r {
  width: 6vw;
  height: 6vw;
  right: 23vw;
  bottom: 90vh;
  -webkit-animation: float 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  animation: float 10s linear forwards;
  animation-iteration-count: infinite;
  z-index: 18; }
  .bub_r img, .bub_r source {
    backface-visibility: hidden;
    transform: rotateZ(24deg); }

.kat_l {
  width: 12vw;
  left: 32.5vw;
  bottom: 57vh;
  -webkit-animation: float 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  animation: float 10s linear forwards;
  animation-iteration-count: infinite; }

.kat_m {
  width: 12vw;
  left: 42vw;
  bottom: 75vh;
  -webkit-animation: float 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
  animation: float 10s linear forwards;
  animation-iteration-count: infinite; }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate3d(0, 0, 0); }
  50% {
    -webkit-transform: translate3d(0, -10vh, 0); }
  100% {
    -webkit-transform: translate3d(0, 0%, 0); } }
@keyframes float {
  0% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -10vh, 0); }
  100% {
    transform: translate3d(0, 0%, 0); } }
.d0_gallery {
  padding-top: 45vh;
  position: relative; }
  .d0_gallery .xxl, .d0_gallery .loading-page .counter h1, .loading-page .counter .d0_gallery h1 {
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 30vh;
    text-align: center; }
    .d0_gallery .xxl span, .d0_gallery .loading-page .counter h1 span, .loading-page .counter .d0_gallery h1 span {
      display: inline-block; }
    .d0_gallery .xxl > span:first-of-type, .d0_gallery .loading-page .counter h1 > span:first-of-type, .loading-page .counter .d0_gallery h1 > span:first-of-type {
      position: relative;
      z-index: 10; }
    .d0_gallery .xxl > span:last-of-type, .d0_gallery .loading-page .counter h1 > span:last-of-type, .loading-page .counter .d0_gallery h1 > span:last-of-type {
      position: relative;
      z-index: 15;
      mix-blend-mode: luminosity; }
  .d0_gallery img {
    border-radius: 4rem;
    position: relative;
    z-index: 13; }

.k_1 {
  height: 40vh;
  width: 40vh;
  position: absolute;
  top: calc(10vh);
  right: calc(-10vw);
  z-index: -1;
  transform: translate3d(0%, -50%, 0);
  display: none; }

.gallery_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in; }
  .gallery_grid .gallery_item {
    width: 48.5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh; }
  .gallery_grid .gallery_item:nth-of-type(odd) {
    margin-top: 5vh;
    transform: translate3d(0, 0vh, 0); }

.animate-image .gallery_item:nth-of-type(odd) {
  transform: translate3d(0vh, 0, 0); }

.social {
  text-align: center;
  color: var(--white); }
  .social .col {
    display: flex;
    justify-content: space-between; }
  .social .words {
    display: flex; }
  .social .char {
    width: 1em;
    height: 1em;
    display: inline-block; }

.next {
  color: var(--white);
  overflow: hidden;
  position: relative;
  padding: 25vh 5vh 0;
  text-align: center; }
  .next picture {
    margin: -5vh auto -10vh;
    max-width: 20vw;
    position: relative;
    z-index: 15;
    display: block; }
    .next picture img, .next picture source {
      max-height: 100%; }
  .next h1 {
    padding-bottom: 0vh;
    transform: translate3d(0, 30%, 0);
    mix-blend-mode: overlay;
    position: relative;
    z-index: 14; }

#circle {
  position: absolute;
  width: 30vw;
  padding-bottom: 30vw;
  overflow: hidden;
  left: 50vw;
  top: 0;
  transform: translate(-50%, -10vh); }

#circle text {
  font-family: var(--sans_headings);
  color: var(--white);
  font-size: 1vw; }

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30vw;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -ms-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg); }
  to {
    -moz-transform: rotate(0); } }
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg); }
  to {
    -ms-transform: rotate(0); } }
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg); }
  to {
    -o-transform: rotate(0); } }
@keyframes rotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }
.waves_1 {
  position: absolute;
  bottom: -7rem;
  left: 0%;
  right: 0;
  z-index: 1; }
  .waves_1 .wave_1, .waves_1 .wave_2, .waves_1 .wave_3 {
    position: absolute;
    bottom: 0;
    filter: blur(77px); }
  .waves_1 .wave_1 {
    left: -17rem;
    -webkit-animation: sizechange11 10s ease-in forwards;
    animation: sizechange11 10s  ease-in forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    animation-direction: normal; }
  .waves_1 .wave_2 {
    right: -12rem;
    -webkit-animation: sizechange12 15s  ease-in forwards;
    animation: sizechange12 15s  ease-in forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    animation-direction: normal; }
  .waves_1 .wave_3 {
    right: -9.4rem;
    left: auto;
    -webkit-animation: sizechange11 20s  ease-in forwards;
    animation: sizechange11 20s  ease-in forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-iteration-count: infinite;
    animation-direction: normal; }

@media screen and (min-width: 1024px) {
  .text_wrapper {
    overflow: hidden;
    display: block;
    position: relative; }
    .text_wrapper > span {
      display: inline-block;
      transform: translate3d(0, 105%, 0) rotateZ(5deg) skewX(0deg);
      transition: transform 0.6s linear;
      transition-delay: calc(120ms * var(--word-index));
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transform-origin: left bottom;
      will-change: transform; }
    .text_wrapper .img_inline {
      position: absolute;
      overflow: hidden;
      width: 23vw;
      margin-right: 2.2vw;
      height: 9vw;
      left: 0;
      top: 0;
      transform: translate3d(0, 125%, 0) rotateZ(5deg) skewX(0deg);
      transition: transform 0.6s linear;
      transition-delay: calc(120ms * 9); }

  .animate-text .text_wrapper > span {
    transform: translate3d(0, 0, 0) rotateX(0deg) skewX(0deg); }
  .animate-text .text_wrapper .img_inline {
    transform: translate3d(0, 5%, 0) rotateX(0deg) skewX(0deg); }

  .ItemCard__thumb {
    display: block;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.6s linear;
    transition-delay: calc(120ms * 9); }

  .animate-text .ItemCard__thumb {
    transform: translate3d(0, 0, 0); }

  .history_1 picture {
    overflow: hidden; }
    .history_1 picture img, .history_1 picture source {
      transition: transform 1s linear;
      transition-delay: calc(120ms * 9); }

  /*
  	.scene {
  		position: absolute;
  		left: 0%;
  		right: 0%;
  		top: 12vh;
  		bottom: 5vh;
  		z-index: -1;
  		.cloud_1 {
  			position: absolute;
  			left: 7vw;
  			top: 10vh;
  			width: 20vw;
  			-webkit-animation: animateCloud 9s ease-in-out forwards;
  			-webkit-animation-iteration-count: infinite;
  			-webkit-animation-direction: normal;
  			animation: animateCloud 9s ease-in-out forwards;
  			animation-iteration-count: infinite;
  			animation-direction: normal;
  		}
  		.cloud_2 {
  			position: absolute;
  			right: 10vw;
  			top: 12vw;
  			width: 15vw;
  			-webkit-animation: animateCloud 6s ease-in-out forwards;
  			-webkit-animation-iteration-count: infinite;
  			-webkit-animation-direction: normal;
  			animation: animateCloud 6s ease-in-out forwards;
  			animation-iteration-count: infinite;
  			animation-direction: normal;
  			img {
  				transform: rotateY(-180deg);
  			}
  		}
  	}

  	.water {
  		position: absolute;
  		bottom: -5vh;
  		left: 50%;
  		width: 100%;
  		max-width: 100vw;
  		transform: translateX(-50%);
  		img, source {
  			max-width: 150%;
  			margin-left: -25%;

  		}
  	}
  */ }
@media screen and (max-width: 1024px) and (max-height: 76rem) {
  .large_image {
    height: 115vh;
    background-size: 75vw auto; }

  .kat_l, .kat_m {
    width: 24vw; }

  .kat_l {
    bottom: calc(35vh); }

  .kat_m {
    bottom: 60vh; }

  .cas_1 {
    bottom: 35vh;
    width: 16vw; }

  .cas_2 {
    width: 12vw;
    bottom: 85vh; }

  .bub_l {
    width: 20vw;
    bottom: 60vh;
    left: 10vw; }

  .bub_r {
    width: 12vw;
    bottom: 56vh;
    right: 8vw; }

  .d0_how {
    padding-left: 0;
    padding-right: 0; }

  .d0_history {
    padding-left: 0;
    padding-right: 0; }
    .d0_history .char {
      transform: translate3d(0, 0%, 0) rotateZ(0deg) skewX(0deg); }

  .history_3 p {
    margin-left: 48.5vw; }

  @-webkit-keyframes float {
    0% {
      -webkit-transform: translate3d(0, 0, 0); }
    50% {
      -webkit-transform: translate3d(0, -2.5vh, 0); }
    100% {
      -webkit-transform: translate3d(0, 0%, 0); } }
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0); }
    50% {
      transform: translate3d(0, -2.5vh, 0); }
    100% {
      transform: translate3d(0, 0%, 0); } } }
@media screen and (max-width: 768px) {
  section, .page_center {
    padding: 20vh 3vh; }

  .scene {
    top: 5vh;
    bottom: 5vh; }
    .scene .cloud_1 {
      width: 20vw; }
    .scene .cloud_2 {
      width: 30vw; }

  .palm_right {
    bottom: 8vh;
    right: -19vw;
    width: 70vw;
    top: auto; }

  .ing_0 {
    width: 100%; }

  .water {
    width: 150%;
    max-width: 150vw; }

  /*
  	.d0_how {
  		padding-left: 0;
  		padding-right: 0;
  	}
  */
  .c_2 {
    top: 10vh;
    transform: rotateX(0) rotateY(0) rotateZ(-4deg) scale3d(0.75, 0.75, 0.75); }

  .c_4 {
    transform: rotateX(0) rotateY(0) rotateZ(90deg) scale3d(0.5, 0.5, 0.5); }

  .c_3 {
    bottom: 20vh; }

  .glass {
    padding-bottom: 0;
    margin-bottom: -2vh; }

  .d0_etymology .text {
    padding-left: 0; }

  .isometric_grid {
    /*
    		grid-template-columns: repeat(2, 1fr);*/
    grid-template-rows: repeat(4, 1fr); }
    .isometric_grid .column_one {
      grid-column: 2 / 6;
      grid-row: 1 / 2; }
    .isometric_grid .column_two {
      grid-column: 1 / 5;
      grid-row: 2 / 3; }
    .isometric_grid .column_three {
      grid-column: 3 / 7;
      grid-row: 3 / 4; }
    .isometric_grid .column_four {
      grid-column: 2 / 6;
      grid-row: 4 / -1; }

  .d0_history {
    padding-left: 0;
    padding-right: 0; }
    .d0_history .char {
      transform: translate3d(0, 0, 0) rotateZ(0); }

  .history_1, .history_2,
  .history_3, .history_4 {
    min-height: 100vh; }

  .history_1 .xl, .history_1 .quote, .history_1 .marquee__item {
    width: 100vw; }
  .history_1 figure {
    width: 100%;
    margin: 0;
    float: none;
    bottom: 0; }
  .history_1 .text {
    margin-top: 3vh; }

  .cloud_float {
    height: 25vh; }
    .cloud_float .cloud2 {
      width: 20vw;
      height: 20vw;
      top: auto;
      bottom: 0; }
    .cloud_float .cloud1 {
      width: 35vw;
      height: 35vw;
      right: calc(50% - 35vw); }

  .history_2 {
    padding-top: 10vh;
    padding-bottom: 15vh; }
    .history_2 .cloud2 {
      width: 30vw;
      height: 30vw;
      top: 15vh; }
    .history_2 .cloud1 {
      width: 40vw;
      height: 40vw;
      right: 0;
      top: 5vh; }
    .history_2 p {
      margin-left: 0; }

  .history_3 {
    padding-top: 5vh;
    display: block;
    min-height: fit-content; }
    .history_3 figure {
      float: left;
      width: 50%;
      margin: 0vh 3vw 1vh 0; }

  .history_4 {
    padding-top: 15vh; }
    .history_4 .text {
      flex-direction: column; }
    .history_4 p {
      width: 100%; }
    .history_4 .xl, .history_4 .quote, .history_4 .marquee__item {
      width: 100%; }

  .d0_tradition {
    background: url("../img/katli/palm-left.png") right -8vw top 15vh no-repeat;
    background-size: auto 25vh; }
    .d0_tradition .xl, .d0_tradition .quote, .d0_tradition .marquee__item {
      width: 100%; }
      .d0_tradition .xl .word, .d0_tradition .quote .word, .d0_tradition .marquee__item .word {
        background-size: auto auto; }
    .d0_tradition .text {
      padding-left: 0; }

  .gallery_grid {
    flex-direction: column; }
    .gallery_grid .gallery_item:nth-of-type(odd) {
      margin-top: 0; }
    .gallery_grid .gallery_item {
      width: 100%;
      margin: 0 0 3vh; }

  .large_image {
    height: 100vh;
    background: url("../img/katli/balloon-comps.webp") center bottom no-repeat;
    background: url("../img/katli/balloon-comps.png") center bottom no-repeat;
    background-size: 90vw auto;
    position: relative; }
    .large_image h1 {
      position: relative;
      z-index: 16;
      mix-blend-mode: luminosity; }

  .kat_l, .kat_m {
    width: 24vw; }

  .kat_l {
    bottom: calc(30vh); }

  .kat_m {
    bottom: 55vh; }

  .cas_1 {
    width: 16vw; }

  .cas_2 {
    width: 12vw;
    bottom: 75vh; }

  .bub_l {
    width: 20vw;
    bottom: 50vh;
    left: 10vw; }

  .bub_r {
    width: 12vw;
    bottom: 40vh;
    right: 8vw; }

  .social {
    padding-bottom: 0vh;
    min-height: 75vh; }

  @-webkit-keyframes float {
    0% {
      -webkit-transform: translate3d(0, 0, 0); }
    50% {
      -webkit-transform: translate3d(0, -5vh, 0); }
    100% {
      -webkit-transform: translate3d(0, 0%, 0); } }
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0); }
    50% {
      transform: translate3d(0, -5vh, 0); }
    100% {
      transform: translate3d(0, 0%, 0); } }
  .waves_1 {
    bottom: 0; }

  .next {
    padding-top: 20vh; }
    .next h1 {
      transform: translate3d(0, 17%, 0); }
    .next picture {
      width: 40vw;
      max-width: 60%;
      margin-bottom: -2vh; }

  #circle {
    width: 100vw;
    padding-bottom: 100vw;
    left: 0;
    transform: translate(0, 0); }
    #circle svg {
      height: 100vw; }
    #circle text {
      font-size: 5vw; }

  .about .section_header .first_line {
    padding-left: 0; }

  .about .main .row:nth-of-type(3) {
    padding-left: 0; } }
/*Extras*/
.marquee__list {
  /*
  	font-size: 3.5rem;
  	line-height: 1;
      font-weight: bold;
  */
  padding-bottom: calc(var(--base_line_height)*var(--base_font_size)*1); }
  .marquee__list:nth-of-type(2) {
    display: none; }

.marquee__item {
  margin-top: calc(var(--base_line_height)*var(--base_font_size)*1);
  font-family: var(--sans_headings);
  font-weight: normal;
  font-variant-ligatures: discretionary-ligatures;
  color: var(--white); }
  .marquee__item a {
    text-decoration: none; }
  .marquee__item:nth-of-type(even) {
    -webkit-text-stroke-width: 0px;
    display: none; }

@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@media screen and (min-width: 1024px) {
  .marquee_container {
    height: 75vh;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    padding-top: 25vh;
    padding-bottom: 25vh; }

  .marquee {
    display: -webkit-box;
    display: flex;
    white-space: nowrap; }

  .marquee__list {
    display: -webkit-box;
    display: flex;
    -webkit-animation: ticker 30s infinite linear;
    animation: ticker 30s infinite linear;
    font-size: 20vh; }
    .marquee__list:nth-of-type(2) {
      display: flex; }

  .marquee__item:nth-of-type(even) {
    display: flex; } }
