@font-face {
    font-family: "Sligoil Micro";
    src: url("../../../static/fonts/Sligoil-Micro.woff2") format("woff2"),
        url("../../../static/fonts/Sligoil-Micro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "VCR OSD Mono";
    src: url("../../../static/fonts/VCROSDMono.woff2") format("woff2"),
        url("../../../static/fonts/VCROSDMono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Cotham Sans";
    src: url("../../../static/fonts/CothamSans.woff2") format("woff2"),
        url("../../../static/fonts/CothamSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Medium.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Pilowlava";
    src: url("../../../static/fonts/Pilowlava-Regular.woff2") format("woff2"),
        url("../../../static/fonts/Pilowlava-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta Ornaments";
    src: url("../../../static/fonts/LostaMasta-Ornaments.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Ornaments.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Light.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Thin.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Regular.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Bold.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Losta Masta";
    src: url("../../../static/fonts/LostaMasta-Black.woff2") format("woff2"),
        url("../../../static/fonts/LostaMasta-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../../static/fonts/SpaceMono-Bold.woff2") format("woff2"),
        url("../../../static/fonts/SpaceMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../../static/fonts/SpaceMono-BoldItalic.woff2") format("woff2"),
        url("../../../static/fonts/SpaceMono-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../../static/fonts/SpaceMono-Italic.woff2") format("woff2"),
        url("../../../static/fonts/SpaceMono-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Space Mono";
    src: url("../../../static/fonts/SpaceMono-Regular.woff2") format("woff2"),
        url("../../../static/fonts/SpaceMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*.shaderCanvas {*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*    z-index: -1 !important;*/
/*}*/
